<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="jumbotron">
      <h1>Repo finder v1</h1>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-10 offset-md-1">

    <div class="form-group">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon">Seach GitHub:</span>
        <input type="text" class="form-control"
               [(ngModel)]="query" name="query"
               aria-describedby="sizing-addon"
               (keyup.enter)="search()">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button"
                  (click)="search()">
            Search!
          </button>
        </span>
      </div>
    </div>

    <br>

  </div>

  <div class="col-md-10 offset-md-1 col-sm-12">

    <ul class="list-group" *ngIf="result" id="result">

      <li *ngFor="let repo of result.items"
          class="list-group-item list-group-item-action flex-column align-items-start"
          (click)="goToDetail(repo)">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><strong>{{repo.name}}</strong></h5>
          <small><strong>url:</strong> <i>{{repo.html_url}}</i></small>
          <!--<small><strong></strong> <i>{{repo.}}</i></small>-->
        </div>
        <p class="mb-1">Owner: <i>{{repo.owner.login}}</i></p>
        <!--<small *ngIf="repo.language">Language: <i>{{repo.language}}</i></small>-->
      </li>

    </ul>

  </div>

</div>
