<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="jumbotron">
      <h1>Repo finder v1</h1>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-10 offset-md-1">

    <form class="form" novalidate>
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon">Seach GitHub:</span>
        <input type="text" class="form-control"
               [(ngModel)]="query" name="query"
               aria-describedby="sizing-addon">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button"
                  (click)="search()">
            Search!
          </button>
        </span>
      </div>

      <br>
    </form>

  </div>

  <div class="col-md-10 offset-md-1 col-sm-12">

    <ul class="list-group" *ngIf="result" id="result">

      <li *ngFor="let repo of result.items"
          class="list-group-item list-group-item-action flex-column align-items-start"
          (click)="goToDetail(repo)">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{repo.name}}</h5>
          <small>url: <i>{{repo.html_url}}</i></small>
        </div>
        <p class="mb-1">Owner: <i>{{repo.owner.login}}</i></p>
        <!--<small>Donec id elit non mi porta.</small>-->
      </li>

    </ul>

  </div>

</div>
